$primary-color: #3F51B5;
$primary-light-color: #C5CAE9;
$primary-dark-color: #303F9F;

$accent-color: #FF4081;
// Optional fallback accent colors
$accent-light-color: #FF80AB;
$accent-dark-color: #F50057;