@import "../helpers/shadow";

.card {
  @include shadow();
}

.card-image {
  .card-title {
    
  }
}


.card-content {
  padding: 10px;
  p {
    margin: 0;
  }
}

.card-action {
  padding: 10px;
  border-top: 1px solid rgba(160,160,160,.2);
  a {
    padding: 10px;
  }
}



